Bartosz Bartoszewski </a>
Nr indeksu: 406690 </n>
Data zajęc: 14.10.2022r. </n>
Nr grupy:

In [1]:
# host: pgsql-196447.vipserv.org
# - port: 5432
# - login: wbauer_adb
# - hasło: adb2020
# - nazwa_bazy: wbauer_adb

In [2]:
from sqlalchemy import create_engine
import sqlalchemy
import psycopg2 as pg
import pandas as pd

In [3]:

connection = pg.connect(host='pgsql-196447.vipserv.org', port=5432, 
            dbname='wbauer_adb', user='wbauer_adb', password='adb2020')

In [4]:
db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"

db = create_engine(db_string)

connection_sqlalchemy = db.connect()

1. Ile kategorii filmów mamy w wypożyczalni?

In [5]:
result_set = db.execute("SELECT COUNT(name) FROM category")
print(f'W wypożyczalni znajduje się {tuple(result_set)[0][0]} filmów')

W wypożyczalni znajduje się 16 filmów

2. Wyświetl listę kategorii w kolejności alfabetyfcznej.

In [6]:
zad2 = pd.read_sql('SELECT * FROM category ORDER BY name ASC', con=connection)
print(zad2)

    category_id         name         last_update
0             1       Action 2006-02-15 09:46:27
1             2    Animation 2006-02-15 09:46:27
2             3     Children 2006-02-15 09:46:27
3             4     Classics 2006-02-15 09:46:27
4             5       Comedy 2006-02-15 09:46:27
5             6  Documentary 2006-02-15 09:46:27
6             7        Drama 2006-02-15 09:46:27
7             8       Family 2006-02-15 09:46:27
8             9      Foreign 2006-02-15 09:46:27
9            10        Games 2006-02-15 09:46:27
10           11       Horror 2006-02-15 09:46:27
11           12        Music 2006-02-15 09:46:27
12           13          New 2006-02-15 09:46:27
13           14       Sci-Fi 2006-02-15 09:46:27
14           15       Sports 2006-02-15 09:46:27
15           16       Travel 2006-02-15 09:46:27

/home/bartosz_study/anaconda3/envs/bartoszbartoszewski/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

3. Znajdź najstarszy i najmłodszy film do wypożyczenia

In [7]:
zad3 = pd.read_sql('SELECT release_year,film_id, title FROM film ORDER BY release_year DESC LIMIT 1', con=connection)
print(zad3)

zad31 = pd.read_sql('SELECT release_year,film_id, title FROM film ORDER BY release_year ASC LIMIT 1', con=connection)
print(zad31)

   release_year  film_id            title
0          2006      133  Chamber Italian
   release_year  film_id            title
0          2006      133  Chamber Italian

/home/bartosz_study/anaconda3/envs/bartoszbartoszewski/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/home/bartosz_study/anaconda3/envs/bartoszbartoszewski/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

4. Ile wypożyczeń odbyło się między 2005-07-01 a 2005-08-01?

In [23]:
zad4 = pd.read_sql("""SELECT COUNT(rental_id) 
                    FROM rental 
                    WHERE rental_date
                    BETWEEN '2005-07-01' AND '2005-08-01'
                    """, con=connection)
print(f'Wypożyczeń pomiędzy 2005-07-01, a 2005-08-01 było', zad4['count'][0])

Wypożyczeń pomiędzy 2005-07-01, a 2005-08-01 było 6709

/home/bartosz_study/anaconda3/envs/bartoszbartoszewski/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

5. Ile wypożyczeń odbyło się między 2010-01-01 a 2011-02-01?

In [24]:
zad5 = pd.read_sql("""SELECT COUNT(rental_id) 
                    FROM rental 
                    WHERE rental_date
                    BETWEEN '2010-01-01' AND '2011-02-01'
                    """, con=connection)
                    
print(f'Wypożyczeń pomiędzy 2010-01-01, a 2011-02-01 było', zad5['count'][0])

Wypożyczeń pomiędzy 2010-01-01, a 2011-02-01 było 0

/home/bartosz_study/anaconda3/envs/bartoszbartoszewski/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

6. Znajdź największą płatność wypożyczenia.

In [28]:
zad6 = pd.read_sql("""SELECT amount
                    FROM payment 
                    ORDER BY amount DESC LIMIT 1
                    """, con=connection)
                    
print('Największa płatność wypożyczenia wynosi:', zad6['amount'][0])

/home/bartosz_study/anaconda3/envs/bartoszbartoszewski/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Największa płatność wypożyczenia wynosi: 11.99

7. Znajdź wszystkich klientów z Polski, Nigerii lub Bangladeszu.

In [42]:
# pcountries = pd.read_sql("""SELECT country
#                     FROM country
#                     """, con=connection)
# print(pcountries)

zad7 = pd.read_sql("""SELECT customer_id, first_name, last_name
                    FROM customer 
                    JOIN address USING(address_id)
                    JOIN city USING(city_id)
                    JOIN country USING(country_id)
                    WHERE country.country in ('Poland', 'Nigeria', 'Bangladesh')
                    """, con=connection)


print(zad7)

    customer_id first_name  last_name
0           284      Sonia    Gregory
1           318      Brian      Wyman
2           572     Sidney   Burleson
3           409     Rodney    Moeller
4           332    Stephen     Qualls
5           286      Velma      Lucas
6            80    Marilyn       Ross
7           198      Elsie     Kelley
8           103     Gladys   Hamilton
9           329      Frank   Waggoner
10          128   Marjorie     Tucker
11           18      Carol     Garcia
12          270       Leah     Curtis
13          501      Ruben      Geary
14          277       Olga    Jimenez
15          156     Bertha   Ferguson
16          280     Tracey    Barrett
17          250         Jo     Fowler
18          571    Johnnie   Chisholm
19          562    Wallace      Slone
20           21   Michelle      Clark
21          380    Russell    Brinson
22          558     Jimmie  Eggleston
23          232  Constance       Reid

8.Gdzie mieszkają członkowie personelu?

In [54]:
zad8 = pd.read_sql("""SELECT address, district, postal_code, city
                    FROM staff
                    JOIN address USING(address_id)
                    JOIN city USING(city_id)
                    JOIN store USING(store_id)
                    """, con=connection)
print(zad8)

/home/bartosz_study/anaconda3/envs/bartoszbartoszewski/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

                address district postal_code        city
0     23 Workhaven Lane  Alberta              Lethbridge
1  1411 Lillydale Drive      QLD               Woodridge

9. Ilu pracowników mieszka w Argentynie lub Hiszpanii?

In [58]:
zad9 = pd.read_sql("""SELECT COUNT(*)
                    FROM staff
                    JOIN address USING(address_id)
                    JOIN city USING(city_id)
                    JOIN country USING(country_id)
                    WHERE country.country IN ('Spain', 'Argentina')
                    """, con=connection)
print(zad9)

   count
0      0

/home/bartosz_study/anaconda3/envs/bartoszbartoszewski/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

10. Jakie kategorie filmów zostały wypożyczone przez klientów?

In [72]:
zad10 = pd.read_sql("""SELECT 
                    DISTINCT name
                    FROM category
                    JOIN film_category USING(category_id)
                    JOIN film USING(film_id)
                    JOIN inventory USING(film_id)
                    """, con=connection)
print(zad10)

           name
0        Sports
1      Classics
2           New
3        Family
4        Comedy
5     Animation
6        Travel
7         Music
8         Drama
9        Horror
10       Sci-Fi
11        Games
12  Documentary
13      Foreign
14       Action
15     Children

/home/bartosz_study/anaconda3/envs/bartoszbartoszewski/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

11. Znajdź wszystkie kategorie filmów wypożyczonych w Ameryce.

In [80]:
zad11 = pd.read_sql("""SELECT COUNT(*)
                    FROM category 
                    JOIN film_category USING(category_id) 
                    JOIN film USING(film_id) 
                    JOIN inventory USING(film_id)
                    JOIN store USING(store_id)
                    JOIN address USING(address_id) 
                    JOIN city USING(city_id) 
                    JOIN country USING(country_id) 
                    WHERE country = 'United States' """, con= connection)

print('W amecyce nie wypożyczono żadnych kategorii filmów')
print(zad11)

W amecyce nie wypożyczono żadnych kategorii filmów
   count
0      0

/home/bartosz_study/anaconda3/envs/bartoszbartoszewski/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

12.Znajdź wszystkie tytuły filmów, w których grał: Olympia Pfeiffer lub Julia Zellweger lub Ellen Presley.

In [97]:
zad12 = pd.read_sql("""SELECT DISTINCT title 
                    FROM film 
                    JOIN film_actor USING(film_id)
                    JOIN actor USING(actor_id)  
                    WHERE first_name IN ('Olympia', 'Julia', 'Ellen')""", con=connection)

print(zad12)

                    title
0         Shanghai Tycoon
1             Ties Hunger
2                Opus Ice
3        Rider Caddyshack
4        Bonnie Holocaust
..                    ...
128          Berets Agent
129  Streetcar Intentions
130         Shining Roses
131        President Bang
132          Cider Desire

[133 rows x 1 columns]